{%- css "inline" %}{% include "public/css/reset.css" %}{% endcss -%}
{%- css "inline" %}{% include "public/css/nal.css" %}{% endcss -%}
{%- css "inline" %}{% include "public/css/index.css" %}{% endcss -%}
{%- css "inline" %}{% include "public/css/article.css" %}{% endcss -%}
{%- css "inline" %}{% include "public/css/markdown-alert.css" %}{% endcss -%}
{%- css "link" %}{% include "public/css/syntax-highlight.css" %}{% endcss -%}
<!DOCTYPE html>
<html lang="{{ metadata.language }}">
    <head>
        <meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}"/>
        <meta name="generator" content="{{ eleventy.generator }}"/>
        <style>{% getBundle "css", "inline" %}</style>
        <link rel="stylesheet" href="{% getBundleFileUrl 'css', 'link' %}">
        <link rel="stylesheet" href="https://unpkg.com/katex@latest/dist/katex.min.css"/>
    </head>
    <body>
        <header>
            <div id="header-halo">
                <a href="/" class="home-link">{{ metadata.title }}</a>
                <p class="home-description">{{ metadata.description }}</p>
            </div>
        </header>
        <nav class="main-nav">
            <ul>
            {%- for entry in collections.all | eleventyNavigation %}
                <li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
            {%- endfor %}
            </ul>
        </nav>
        <main>
            {{ content | safe }}
        </main>
        <footer>
        </footer>
        <script type="module" src="{% getBundleFileUrl 'js' %}"></script>
    </body>
</html>