---
layout: layouts/base.njk
---
{%- set post = collections.all | getCollectionItem %}
{%- set enableComment = true %}
{%- if collections.posts %}
{%- set prevPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- endif %}
{%- include "parts/post.njk" %}