body {
    font-size: 14px;
}

div#header-halo {
    text-align: center;
    margin: 1.25em 0 1.2em;

    a.home-link {
        font-size: 3.2em;
    }
}

header nav ul.nav {
    font-size: 1.1em;

    display: flex;
    flex-direction: row;
    padding: 0;

    justify-content: center;
    gap: .5em;

    & > li.nav-item {
        list-style: none;
    }
}

main {
    div.post-metadata {
        color: #777;
    }

    p.post-metadata-tags {
        a.post-tag {
            color: #55F;
            font-weight: bold;

            &:hover {
                color: #99F;
            }
        }
    }

    div.post-body {
        padding: 1em;

        p {
            line-height: 1.6em;
            margin-bottom: .5em;
        }
    }

    p.see-all-tags {
        margin-top: 1em;
    }
}