---js
// <script>
const eleventyComputed = {
	permalink: "/tag/",
};
---
<h1>모든 태그 목록</h1>
<ul>
{% for tag in collections | getKeys | filterTagList %}
	{% set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>