---js
// <script>
const pagination = {
	data: "collections",
	size: 1,
	alias: "tag",
	filter: ["all", "posts"],
};

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	title: "Posts tagged '{{ tag }}'",
	permalink: function(data){ return `/tag/${this.slugify(data.tag)}/`; },
};
---
<h1>“{{ tag }}” 태그가 달린 게시글 목록</h1>

<p>전체 태그 목록은 <a href="tag-list.njk">이 곳</a>에서 확인할 수 있습니다.</p>

{% set posts = collections[tag] %}
{% include "parts/post-list.njk" %}