<article>
	<h1>{{ title }}</h1>
	<div class="post-metadata">
		<p class="post-metadata-time">Posted at <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></p>
		<p class="post-metadata-tags">Tags: {% for tag in tags | filterTagList %}<a class="post-tag" href="/tag/{{ tag | slugify }}/">{{ tag }}</a>{%- if not loop.last %}, {% endif %}{%- endfor %}</p>
	</div>
	<div class="post-body">
	{{ content | safe }}
	</div>
</article>