<article>
	<h1><a href="{{ post.url }}" class="post-link">{{ post.data.title }}</a></h1>
	<div class="post-metadata">
		<p class="post-metadata-time">Posted at <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></p>
		<p class="post-metadata-tags">Tags: {% for tag in post.data.tags | filterTagList %}<a class="post-tag" href="/tag/{{ tag | slugify }}/">{{ tag }}</a>{%- if not loop.last %}, {% endif %}{%- endfor %}</p>
	</div>
	<div class="post-body">
	{{ post.content | safe }}
	</div>
	{%- if prevPost or nextPost %}
	<ul class="links-nextprev">
		{%- if prevPost %}<li class="links-nextprev-prev"><span class="label">← Prev</span><a href="{{ prevPost.url }}">{{ prevPost.data.title }}</a></li>{% endif %}
		{%- if nextPost %}<li class="links-nextprev-next"><span class="label">Next →</span><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
	</ul>
	{%- endif %}
	{% if utterance.enabled %}
	{% if enableComment %}
	<div id="comment" class="post-comment enabled">
		<script
			src="https://utteranc.es/client.js"
			repo="{{ utterance.repo }}"
			issue-term="{{ post.url | slugify }}"
			label="{{ utterance.label }}"
			theme="github-light"
			crossorigin="anonymous"
			async
		></script>
	</div>
	{% else %}
	<div class="post-comment disabled">
		<a href="{{ post.url }}#comment">{{ text.clickToComment }}</a> 
	</div>
	{% endif %}
	{% endif %}
</article>