---
layout: layouts/base.njk
---
<h1>{{ title }}</h1>
<div class="post-metadata">
	<p class="post-metadata-time">Posted at <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></p>
	<p class="post-metadata-tags">Tags: {% for tag in tags | filterTagList %}<a class="post-tag" href="/tag/{{ tag | slugify }}/">{{ tag }}</a>{%- if not loop.last %}, {% endif %}{%- endfor %}</p>
</div>
<div class="post-body">
{{ content | safe }}
</div>

{%- if collections.posts %}
{%- set prevPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if prevPost or nextPost %}
<ul class="links-nextprev">
	{%- if prevPost %}<li class="links-nextprev-prev"><span class="label">← Prev</span><a href="{{ prevPost.url }}">{{ prevPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li class="links-nextprev-next"><span class="label">Next →</span><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}